.svgBox {
    width:100vw;
    height: 100vh;
}
div.tooltip {
    position: absolute;
    left: 75px;
    text-align: center;
    height: 12px;
    padding: 8px;
    font-size: 13px;
    font-family: 'Proxima-Nova', sans-serif;
    background: #FFFFFF;
    border: 1px solid #989898;
    pointer-events: none;
}

.block {
    width:18%;
    height: 15px;
    display:inline-block;
}